body {
  background-color: #dece9c;
}

h1 {
   color: #1a1831; 
   font-family: 'Montserrat', sans-serif;
   font-size: 36px;
   grid-area: main;
   position: absolute;
   left: 0x;
   top: 45px;
}

h2 {
    color: #1a1831; 
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 56px;
    grid-area: main; 
    position: absolute;
    left: 0px;
    top: 55px;
}

h3 {
    color: #1a1831; 
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    grid-area: main;
    position: absolute;
    top: 130px;
}

p {
  color: #1a1831;
  font-family:'Montserrat', sans-serif;
  font-size: 16px;
  position: relative;
  top: 125px;
  left: 0px;
  overflow: hidden;
  max-height: 70%;
}

.topnav {
    background-color: #20615b;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif; 
    grid-area: nav;
    width: 100%; 
  } 
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    grid-area: nav;
  }
  
  .topnav a:hover {
    background-color: #dece9c;
    color: white;
    grid-area: nav;
  }
  
  .topnav a.active {
    background-color: #1a1831; 
    color: white;
    grid-area: nav;
  }


  .container {
    display:grid;
    height:100vh;
    grid-template-columns:1fr 1fr;
    grid-template-rows: .2fr 1fr .3fr;
    grid-gap: 0.5rem;
    grid-template-areas:
      'nav nav'
      'main image'
      'footer footer'
  }

  nav {
    background-color:#20615b;
    grid-area: nav;
  }
  

  .image {
    background: url(rmkprofilepic.jpg);
    grid-area: image; 
    border-color:#1a1831;
    border-color:#1a1831;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  .contactInfo {
    color: white;
    background-color: #1a1831;
    float: left;
    text-align: center;
    grid-area: footer;
    padding: 10px;
    width: 20%;
  }

  footer {
    background: #1a1831;
    grid-area:footer;
    color: white;
    font-family:'Montserrat', sans-serif;
    font-size: 8px; 
    float: left;
    text-align: center;
  }

  svg {
    color: white;
    padding: 40 px;
  }

  


