body {
  background-color: #dece9c;
}

h1 {
   color: #1a1831; 
   font-family: 'Montserrat', sans-serif;
   font-size: 36px;
   grid-area: main;
   position: absolute;
   left: 0x;
   top: 40px;
}

h2 {
    color: #1a1831; 
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 56px;
    grid-area: main; 
    position: absolute;
    left: 0px;
    top: 50px;
}

h3 {
    color: #1a1831; 
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    grid-area: main;
    position: absolute;
    top: 125px;
}

p {
  color: #1a1831;
  font-family:'Montserrat', sans-serif;
  font-size: 16px;
  position: relative;
  top: 115px;
  left: 0px;
}

.topnav {
    background-color: #20615b;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif; 
    grid-area: nav;
    width: 100%; 
  } 
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    grid-area: nav;
  }
  
  .topnav a:hover {
    background-color: #dece9c;
    color: white;
    grid-area: nav;
  }
  
  .topnav a.active {
    background-color: #1a1831; 
    color: white;
    grid-area: nav;
  }

  .container {
    display:grid;
    height:100vh;
    grid-template-columns:1fr 1fr;
    grid-template-rows: .5fr 20fr 2fr .5fr;
    grid-gap: 0.5rem;
    grid-template-areas:
      'nav nav'
      'main image'
      'video image' 
      'footer footer'
  }

  nav {
    background-color:#20615b;
    grid-area: nav;
  }
  

  #video {
    grid-area: video;
    padding: .2rem;
  }

  
  #image {
    background: url(rmkprofilepic.jpg);
    background-size: cover;
    background-position: center;
    grid-area: image;
    padding: 3rem; 
  }

  footer {
    background: #1a1831;
    grid-area:footer;
    color: white;
    font-family:'Montserrat', sans-serif;
    font-size: 8px; 
  }

  svg {
    color:#1a1831;
    gap:.1rem;
    height: 2rem;
  }

  

@media ony screen and (max-width:550px) {
  .container{
    grid-template-columns:1fr;
    grid-template-rows: 0.4fr 2fr 1fr 1fr 0.4fr;
    grid-template-areas:
    "nav"
    "main"
    "image"
    "video"
    "footer"
  }
}
